@import "../util/colors";
div.filepicker {
    text-align: center;
    padding: 15px 5px;
    background-color: #f8f8f8;
    border-radius: 5px;
    min-height: 30px;
    min-width: 100px;
    max-width: 500px;
    border: 2px dashed rgba(183, 169, 173, 0.5);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    &:hover,
    &.dragHover {
        border: 2px solid $color_green;
        i.fa-upload {
            color: $color_green;
        }
    }
    .valid-file-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .file-icon {
            position: relative;
            display: inline-block;
            margin: 1.0em 0 2.5em 0;
            padding-left: 45px;
            color: black;
            text-align: center;
            &:first-child {
                margin-left: 1em;
            }
            &:before {
                position: absolute;
                top: -7px;
                left: 0;
                width: 29px;
                height: 34px;
                content: '';
                border: solid 2px $color_grey;
                border-radius: 2px;
            }
            &:after {
                font-size: 11px;
                line-height: 1.3;
                position: absolute;
                top: 9px;
                left: -4px;
                padding: 0 2px;
                content: 'file';
                content: attr(data-filetype);
                text-align: right;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #fff;
                background-color: #000;
            }
        }
    }
}
