.dashboard {
  .blockcol {
    padding: 5px 0;

    .block {
      border: solid 1px #c7c7c7;
      padding: 0;

      .header {
        background-color: #e6e6e6;
        color: #555;
        font-size: 0.8rem;
        padding: 5px;

        i.fa {
          color: #551919;
          opacity: 0.5;
          cursor: pointer;
          margin-left: 7px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
}
}

@media (min-width: 767px) {
  .dashboard {
    padding-top: 5px;
    .blockcol {
      padding: 5px;
    }
  }
}
